<!DOCTYPE html>
<html>
<head>
	<title>Common Page</title>

	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="stylesheet/faq.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheet/style.css">

    <!--* Google font link-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<!-- Code For Navigation Bar -->
<div class="" style="margin-left: -5px; margin-right: -5px;">
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-1">
  <a class="navbar-brand text-bold mx-2 mx-3 lead" href=""> <b>Welcome...On Portal</b></a>
  <!-- <a class="navbar-brand" href="#"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/showadv">Advertised</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
   	</li>
    <li class="nav-item">
     <a class="nav-link" href="/notify"> Notification</a>
   </li>

   <li class="nav-item dropdown">
    <a  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Account
    <div class="dropdown-menu">
              <a class="dropdown-item" href="/mentor_profile">Profile</a>
              <a class="dropdown-item" href="/startup_setting">Settings</a>
              <a class="dropdown-item" href="/notify">notification</a>
              <a class="dropdown-item" href="/logout">Logout</a>

            </div>

   </li>


    </ul>
    <% if(user){ %> 
        <p style="color: white;"><%= user %> </p>
    <% } %> 
  </div>
</nav>
</header>
</div>

<section>
  <div class="container-fluid">
  <div class="row" style="background-image: url(images/header-bg-3.jpg); height: 700px;">
    <!-- <div class="jumbotron"> -->

<h1 class="display-4" style="color: white; margin-left: 10px;"><b>Organize and share knowledge across the globe....
<br>connect with startups... </b></h1>
    <!-- <div class="col-lg-0"></div> -->
    <h3 style="color: white; margin-left: 10px;">Answer questions and gain insights from an audience of developers .</h3><br><br>
    <h3 style="color: white; margin-left: 10px;">Increase your network by exploring this site.</h3><br>
    <h3  style="color: white; margin-left: 10px;">Help the startups to reach at better level.</h3>



</div>
</section>
<br>
<div class="container" style="margin-left: 10px;">
  <div class="row no-gutters">
          <!-- FAQ's section -->
    <div class="col-lg-9">

         <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            This section contains a wealth of information, related to <strong>PrepBootstrap</strong> and its store. If you cannot find an answer to your question,
            make sure to contact us.
        </div>

        <br />

<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
<div class="container-fluid">

<h2>FAQ'S </h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
  <h3 class="panel-title">
    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
    What are the benefits of Solodev CMS?
    </a>
  </h3>
  </div>
  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
  <div class="panel-body px-3 mb-4">
    <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
    <ul>
    <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
    <li>Scalability – pay for what you need today and add-on options as you grow.</li>
    <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
    <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
    </ul>
  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
  <h3 class="panel-title">
    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
    How easy is it to build a website with Solodev CMS?
    </a>
  </h3>
  </div>
  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
  <div class="panel-body px-3 mb-4">
    <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
  <h3 class="panel-title">
    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
    What is the uptime for Solodev CMS?
    </a>
  </h3>
  </div>
  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
  <div class="panel-body px-3 mb-4">
    <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
  <h3 class="panel-title">
    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
    Can Solodev CMS handle multiple websites for my company?
    </a>
  </h3>
  </div>
  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
  <div class="panel-body px-3 mb-4">
    <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
  </div>
  </div>
</div>
</div>

</div>
</section>

<!-- faq end -->


    </div>
    <div class="col-lg-3 text-center my-5">
      <div class="my-4">
      <img src="images/contact.png">
    </div>
  </div>
  </div>
</div>

<!-- faq section end -->
<section>

  <div class="container">
<div class="container">
        <div class="jumbotron ">

  <p class="lead text-center" >
    <a class="btn btn-primary btn-md" href="" role="button">Why We..?</a>
      <a class="btn btn-primary btn-md" href="/Adv" role="button">Advertisement</a>

  </p>
</div>
</div>
  <!-- </div> -->
<!-- Jumbotron for Header  -->
<!-- <div class="container"> -->
		<!-- <div class="jumbotron"> -->
  <div class="row" style="background-image: url(images/header-bg-3.jpg); height: 700px;">
  <div class="row">
			<!-- <div class="col-lg-1"></div> -->
      <div class="col-lg-4 text-center ">
    <div class="card my-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><b>Public Q&A</b></h5>
      <p class="card-text">Get answers to your all questions and give back by sharing your knowledge with others. Sign up for an account.</p>
      <a href="/public:1" class="btn btn-primary text-center">Ask Question</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 text-center ">
    <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem; height:19rem">
    <div class="card-body">
      <h5 class="card-title"><b>Blogs</b></h5>
      <p class="card-text">Find the quick and effective solution through our experts in less time and many more...!</p>
      <a href="/blog_startup" class="btn btn-primary text-center">Got it..</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 text-center">
    <div class="card my-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><b>Blog</b></h5>
      <p class="card-text">Share your thoughts with others...</p>
      <a href="/blog" class="btn btn-primary text-center">GO for it</a>
    </div>
    </div>
</div>


<div class="col-lg-1"></div>

</div>
<hr class="my-1">
</div>
<!-- </div> -->
</div>
</section>

<!-- footer code -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>
