<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .sidebar {
position: fixed ;
}
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-1">
      <a class="navbar-brand text-bold mx-2 mx-3 lead" href=""> <b>Welcome...On Portal</b></a>
      <!-- <a class="navbar-brand" href="#"></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login" >Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Adv">Advertised</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
         </li>
      
     </li>
    
    
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


<div class="container">
    <div class="row  " >
        <div class="col-4"  id="sticky-sidebar" >
            <div class="sticky-top ">
                    <ul style="list-style: none; ">
                        <br><br><br><br>
                        <li style="margin-top: 30%; "><h3><span class="glyphicon glyphicon-user"></span>email</h3></li>
                        <li ><h4><span class="glyphicon glyphicon-globe"></span>Public Forum</h4></li>
                        <li><h4><span class="glyphicon glyphicon-send"></span>Ask Question</h4></li>
                        <li><h4><span class="glyphicon glyphicon-eye-open"></span> Asked Question</h4></li>
                        <li><h4><span class="glyphicon glyphicon-fire"></span>Top Descussion</h4></li>

                    </ul>
                

                </div>
        </div>
        <div class="col" id="main" style="margin-top: 5%;">
            <h1>Top Questions</h1><hr>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-l">
                                views
                            </div>
                            <div class="col-lg-1">
                                answer
                            </div>
                            <div class="col-lg-1">
                                votes
                            </div>
                        </div>
                    </div>
                    </div>
                    

                </div>
</div>
    </div>
</div>




  </body>
</html>
