<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="signup-login.css" type="text/css">
     
    </head>
    <body >
        <form method="post" action=""   >

       <div class="row">
       
        <div class="col-lg-2"></div>
        <div class="col-lg-8"> 
                    
            <% data.forEach(function(row){ %>
                 
                 <div class="row" style="margin-top: 5%;">
                  
                    <embed src="uploads/<%= row.img %>" width="1000px" height="400px" /><br>
                    <p >Contact me on :<%= row.email %> </p><br><br>

                 </div><hr>
                 <% }) %> 
  </div>
        
       </div>
        </form>



    </body>
</html>